head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  title Curso corto: Masacre de las bananeras
  link(rel='stylesheet' href='css_inicio/normalize.css')
  link(rel='stylesheet' href='css_inicio/skeleton.css')
  link(rel='stylesheet' href='css_inicio/custom.css')
  style.
header#header.header
  .container
    .row
      .four.columns
        img#logo(src='img_inicio/sanagustin.png')
#hero
  .container
    .row
      .six.columns
        .contenido-hero
.barra
  .container
    .row
      h1#encabezado.encabezado Masacre de las Bananeras (1928) 
      h3#encabezado.encabezado Curso corto
      p= usuarioLogged.name
.barra2
  .container
  #lista-cursos.container
    .row
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/conocimiento.jpg')
          .info-card
            h4 Pre-test de conocimientos
            a.u-full-width.button-primary.button.input.agregar-carrito(href='https://docs.google.com/forms/d/e/1FAIpQLSfQ9IAoYEsf9jF_LbGx9F3YWVDrZMKsuNjQ95f57XgU-rDMPQ/viewform?vc=0&c=0&w=1&flr=0' target='_blank' data-id='2')  Iniciar el test
        // .card
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/MSLQ.jpg')
          .info-card
            h4 Pre-test MSLQ
            a.u-full-width.button-primary.button.input.agregar-carrito(href='https://www.iticae.com/adam/mslq/mslqUPN.html' target='_blank' data-id='2') Iniciar el test
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/mapahistoria.jpg')
          .info-card
            h4 Unidad 1: Soy un explorador de la historia
            a.u-full-width.button-primary.button.input.agregar-carrito(href='unidad1' target='_blank' data-id='3') Iniciar la unidad
        // .card
    // .row
    .row
      //p= JSON.stringyfy(consultaEnDB)
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/Unidad2.jpg')
          .info-card
            h4 Unidad 2: el ofico del historiador
            a.u-full-width.button-primary.button.input.agregar-carrito(href='unidad2' target='_blank' data-id='4') Iniciar la unidad
        // .card
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/conocimiento2.jpg')
          .info-card
            h4 Pos-test de conocimientos
            a.u-full-width.button-primary.button.input.agregar-carrito(href='https://docs.google.com/forms/d/e/1FAIpQLSc1nFI5KBERaVDUyxzjMJHd8oACdfHrlt49mV_Ta-xrHZejlA/viewform' target='_blank' data-id='5') Iniciar el test
        // .card
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/MSLQ2.jpg')
          .info-card
            h4 Pos-test MSLQ
            a.u-full-width.button-primary.button.input.agregar-carrito(href='https://www.iticae.com/adam/mslq/mslqUPN.html' target='_blank' data-id='6') Iniciar el test
        // .card
    // .row
    .row
      .four.columns
        .card
          img.imagen-curso.u-full-width(src='img_inicio/herramientas.jpg')
          .info-card
            h4 Herramientas Tecnol&oacute;gicas
            p Videos tutoriales para el manejo de Google Earth, Coggle y Visme 
            a.u-full-width.button-primary.button.input.agregar-carrito(href='herramientas' target='_blank' data-id='7') Ver tutoriales
        // .card
    // .row
    .row
    footer#footer.footer
    // <script src="js/app.js"></script>